# Application ID
virgil_appId=
# Application token. AT.****
virgil_at=
# Nonrotatable master secret. NM.****
virgil_nms=
# Backup public key. BU.****
virgil_bu=
# App secret key. SK.****
virgil_sk=
# Service public key. PK.**** 
virgil_pk=
